body {
    background-color: #b3b3b3;
}

#gameTitle {
    background-color: #e67300;
    color: white;
    margin: 3px;
}

#instructionBox {
    background-color: #ffaa80;
    color: green;
    margin: 3px;

}

#randomNumber {
    background-color: #66cc66;
    color: #9900cc;
    margin: 3px;
}

#scoreTracker {
    background-color: #4dffff;
    color: black;
    margin: 3px;
}

#scoreText {
    background-color: #00b3b3;
    color: white;
    margin: 3px;
}

#scoreNumber {
    width: 100%;
    height: 200px;
    margin: 3px;
    background-color: #00b3b3;
    color: white;
}

.crystalImage {
    width: 100px;
    height: 100px;
    border-style: solid;
    padding: 2px;
    float: left;
    margin: 3px;
    background-size: 100%;
    /* position: relative; */
}

#red {
    /* background-color: red; */
    background-image: url(../images/spidermanLogo.jpg);
}

#blue {
    /* background-color: blue; */
    background-image: url(../images/ironmanLogo.jpg);
}

#yellow {
    /* background-color: yellow; */
    background-image: url(../images/blackpantherLogo.jpg);
}

#green {
    /* background-color: green; */
    background-image: url(../images/antmanLogo.jpg);    

}